@charset "UTF-8";
ul,li,ol{ list-style:none;}
*{ margin:0; padding:0; }
body{background-color: #151515;}


.main_me{ width:350px; height:auto; margin:0 auto; font-family: 'Oswald', sans-serif; position:relative; z-index:100; color:#fff; padding-top:220px;}
.main_me p{ font-size:40px; letter-spacing:5px; color: gold;}
.main_me h2{ font-size:55px; letter-spacing:4px;font-weight:400;}
.main_me h1{ font-size:60px; letter-spacing:10px; font-weight:400;}
.main_me h5{ font-size:25px; line-height:50px; font-weight:400;color:gold;}

.project h6 {text-align:center;  color: #fff; font-size:50px; margin-top: 350px; color: gold;}



#skill {font-size: 25px;  line-height:50px; font-weight:400;}



.site{ width:auto; height:937px; background-color:#151515; margin:0 auto; display:inline-flex;
align-items:center; justify-content:space-between; }



.home2{ width:auto; height:617px; ;  background-size:cover; overflow:auto;
position:relative; z-index:20; border:1px solid #eee; }
.home2{ display:inline-flex; }



.img li{ width:420px; height:100%; background-size:cover;}



.text{ width:530px; height:750px; margin-top:100px;  font-family: 'Noto Sans KR', sans-serif;}
.text h1{ font-size:60px; }
.text span{font-size:40px; font-family: 'Do Hyeon', sans-serif;}
.text h1{ color:gold; }
.text span{ color:gold;}
.text p {font-size:18px;line-height:30px; color: #fff;}




footer{ width:100%; height:230px; background-color:#222222; display:flex; justify-content:center; margin-top: 80px;}
.pro_text ul{ width:auto; height:auto; margin-top: 55px; font-size:25px; font-weight:600; font-family: 'Oswald', sans-serif; color: #fff;}
.pro_text li:first-child {width:auto; height:auto; font-size:28px; color:gold;}



a { text-decoration-line: none;}
